.search-form {
  fieldset {
    padding: 0;
    
    border: 0px solid transparent;
  }

  .search-field {
    padding: $base-spacing / 3 $base-spacing / 2;

    background-color: transparent;
    border: 2px solid $brand-colour-green;
    border-radius: 3px;
  }

  .search-submit {
    background-color: transparent;
    border: 0px solid transparent;
    color: $brand-colour-green;
  }
}

.search-results {
  .page-header {
    border-bottom: 1px dashed $font-colour-base;
  }

  article {
    margin: $base-spacing * 1.5 0;
  }

  h2 {
    font-size: 2em;

    .search-query {
      display: block;
    }
  }

  h3 a {
    color: $brand-colour-green;
    font-size: 1.5em;
  }
}