/*
=========================
404 Page Styles
=========================
*/

.error404 {
  .page-header {
    font-weight: lighter;
  }

  .content-area {
    width: 100%;
  }
}

/*
=========================
Search Field Styles
=========================
*/
.search-form {
  margin: $base-spacing 0;

  fieldset {
    padding: 0;
    
    border: 0px solid transparent;
  }

  .search-field {
    width: 70%;
    max-width: 300px;
    padding: $base-spacing / 3 $base-spacing / 2;

    background-color: transparent;
    border: 2px solid $brand-colour-green;
    border-radius: 3px;
    line-height: 1.5em;
  }

  .search-submit {
    background-color: transparent;
    border: 0px solid transparent;
    color: $brand-colour-green;
  }
}

/*
=========================
Search Results Styles
=========================
*/
.search-results {
  .page-header {
    border-bottom: 1px dashed $font-colour-base;
  }

  article {
    margin: $base-spacing * 1.5 0;
  }

  h2 {
    font-size: 2em;

    .search-query {
      display: block;
    }
  }

  h3 a {
    color: $brand-colour-green;
    font-size: 1.5em;
  }
}

@media screen and (min-width: $tablet) {
  .search-results {
    h2 {
      .search-query {
        display: inline-block;
      }
    }
  }
}