/*
=========================
Variables
=========================
*/

// Dimensions
$base-spacing: 1.5rem;
$max-content-width: 1080px;
$inner-content-width: 700px;

// Media Screen Sizes
$small-phone: 400px;
$tablet: 600px;
$larger-tablet: 800px;
$desktop: 1120px;

// Colours
$brand-colour-green: #00cc00;
$font-colour-base: #fff;

/*
=========================
General Styles
=========================
*/

body {
  max-width: $max-content-width;

  background-color: #222222;
  color: $font-colour-base;
  line-height: 1.5;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $brand-colour-green;
}

ul {
  list-style: none;
}

.site {
  margin: 20px;
}

@media screen and (min-width: $larger-tablet) {
  body {
    font-size: 20px;
  }
}

@media screen and (min-width: $desktop) {
  body {
    margin: 0 auto;
  }
}


/*
=========================
Main Styles
=========================
*/

.site-title {
  margin: $base-spacing * 2 0 0 0;

  font-size: 2.4em;
}

.site-content {
  min-height: 45vh;
  margin: 2em 0 3em;
}

@media screen and (min-width: $small-phone) {
  .site-title {
    font-size: 3em;
  }
}

@media screen and (min-width: $tablet) {
  .site-title {
    font-size: 4em;
  }
}

@media screen and (min-width: $desktop) {
  .site-title {
    font-size: 5em;
    max-width: $inner-content-width;
    margin: 0 auto;
  }

  .site-content {
    display: flex;
    flex-flow: row nowrap;

    max-width: $max-content-width;
    margin: 2em auto 3em;

    .content-area {
      width: 100%;
      max-width: $inner-content-width;
      margin: 0 auto;
    }

    &:before, &:after {
      color: $brand-colour-green;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 5em;
    }

    &:before {
      content: "\f10d";
    }

    &:after {
      content: "\f10e";
    }
  }
}

/*
=========================
Quote Styles
=========================
*/

.site-main {
  
  .fa-spinner {
    display: block;
    font-size: 10em;
    width: 200px;
    margin: $base-spacing auto;

    transform: rotate(720deg) 2s;
  
  }

  h2.entry-title {
    a {
      color: $font-colour-base;
      font-weight: lighter;
    }
    
    &:before {
      content: "— ";
    }

    .quote-source {
      font-weight: lighter;
      color: $brand-colour-green;

      &:before {
        content: ", ";
        color: $font-colour-base;
      }
    }
  }

  .entry-content {
    a {
      color: $brand-colour-green;
    }
    
    p {
      font-size: 1.2em;
    }
  }
}

/*
=========================
Another Quote Button Styles
=========================
*/

#another-quote {
  margin: $base-spacing 0;
  padding: $base-spacing / 2 $base-spacing * 1.5;

  background-color: transparent;
  border: 2px solid $brand-colour-green;
  border-radius: 3px;
  color: $brand-colour-green;
  font-weight: bold;
  text-transform: capitalize;
}

@media screen and (min-width: $desktop) {
  #another-quote {
    display: block;
    margin: $base-spacing auto;
  }
}